.body{
    background:url(background.png) no-repeat;
    background-size: cover;
    font-family: Arial;
}
.body ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
.body ul li{
    float: left;
    width: 200px;
    height: 40px;
    font-size: 30px;
    color: white;
    opacity: .8;
    background-color: black;
    border: solid 2px white;
}
.body ul li a{
    text-decoration: none;
}
.body ul li a:hover{
    background-color: rgba(0, 255, 242, 0.3);
    cursor: pointer;
}
.body ul li ul li{
    display: none;
}
.body ul li:hover ul li{
    display: block;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}